{% extends 'base.html' %}
{% block content %}
<h1>community 페이지 입니다.</h1>
<div class="row">

    <div class="col-lg-3">

        <h3 class="my-4 text-center">Category</h3>
        <div class="list-group mb-4">
            <a class="list-group-item list-group-item-info text-center font-weight-bold">게시판</a>
            <a href="{% url 'community' %}" class="list-group-item list-group-item-action text-center font-weight-bold">완치 후기</a>
            <a href="{% url 'comhospital' %}" class="list-group-item list-group-item-action text-center font-weight-bold">병원 추천</a>
            <a href="{% url 'qna' %}" class="list-group-item list-group-item-action text-center font-weight-bold">Q & A</a>
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9 my-4 mb-4">
        <div class="row mt-5">
            <div class="col-12">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">제목</th>
                    <th scope="col">아이디</th>
                    <th scope="col">작성일</th>
                    <th scope="col">최종수정일</th>
                  </tr>
                </thead>
          
                <tbody>
                  {% for community in communities %}
                  <tr>
                    
                    <td><a href="{% url 'write' community.id %}">{{ community.title }}</a></td>
                    <td>{{ community.writer }}</td>
                    <td>{{ community.pub_date }}</td>
                    <td>{{ community.update }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <a href="{% url 'postcreate' %}" class="list-group-item list-group-item-info text-center font-weight-bold">글쓰기</a>
            </div>
          </div>
</div>


{% endblock %}